@font-face {
  font-family: 'Cera Pro';
  src: url('fonts/CeraPro-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'Cera Pro', sans-serif;
    font-stretch: normal !important;
    font-weight: 900;
    line-height: 100%;
    font-feature-settings: "kern";
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    font-stretch: condensed;

    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    vertical-align: top;         /* выравнивание */
    border-radius: .4rem;        /* округляем кнопку */
    border: none;                /* отключаем обводку */
    background: #ffffff;       /* задаем серый цвет кнопки */
    color: rgb(0, 0, 0);            
    box-shadow: 0 8px 30px rgba(0, 0, 0, .08);
    transition: all .6s;          
    font-size: 1.5rem;           /* увеличим размер шрифта */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
  } 
  
  /* hover - это состояние элемента, когда на него наведен курсор */
  .my-btn:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, .50);
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  
  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #e4002b; /* цвет кнопки сервый */
    color: #ffffff
  }

  /* селектор для кнопки очистки */
  .my-btn.clear { 
    background: #e0e0e0; /* цвет кнопки сервый */
    color: #000000
  }

  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #e0e0e0; /* цвет кнопки сервый */
    color: #000000
  }

  .my-btn.adv{
    background: #e0e0e0;
    font-size: 1.2rem;
  }
  /* селектор для кнопки доп операций */
  .my-btn.advanced { 
    background: #ffffff;
    color: #000000;
    padding: 9px;
  }
  .btn.advanced img{
    vertical-align: middle;
  }

  #btns_calculator{
    display: flex;
    align-items: flex-start;
  }
  #adv_btns{
    display: none;
    flex-direction: column;
    position: absolute;
    left: -60px;
    top: 62px;
  }
  #calculator {
    display: grid;
    grid-template-rows: repeat(5, 55px);
  }
  
  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute {
    background: #e4002b;
    color:#ffffff;
    border-radius: .4rem;   /* подкорректируем округлость */
  }
  
  /* селектор для поля вывода результата */
  .result { 
    width: 220px;
    height: 50px;
    margin-bottom: 10px;            /* отступ снизу */
    padding-right: 10px;            /* выступ справа */
    background: #FFFFFF;          /* цвет можно задавать и таким образом */
    border: 1.5px solid #e0e0e0;
    text-align: right;              /* примагнитим текст к правой стороне */
    color: #000000;       
    font-size: 3rem;
    font-family:  'Cera Pro' ,sans-serif;
    border-radius: .4rem; 
    line-height: 100%;
  }

  .all{
    display:flex;
    flex-direction: column;
    transform: scale(1.5);
    margin: 0 auto;
  }

  .avtor{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  h1{
    font-family:  'Cera Pro' ,sans-serif;
    font-size: 16px;
    font-weight: 700;
  }